name: Validate Front Matter

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate:
    name: Validate Front Matter
    uses: zavestudios/platform-pipelines/.github/workflows/jekyll-validate-front-matter.yml@main
