name: Site Quality

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  quality:
    name: Site Quality
    uses: zavestudios/platform-pipelines/.github/workflows/jekyll-quality.yml@main
    with:
      lychee_config_path: .github/lychee.toml
